{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
    <form action="#" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" minlength="5" required>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="role" required>
                <option selected>Choose your role</option>
                <option value="admin">Admin</option>
                <option value="staff">Staff</option>
                <option value="user">User</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
{% endblock %}