{% extends "base.html" %}
{% block title %}Signup Page{% endblock %}

{% block css %}
<link rel="stylesheet" href="url_for('static', filename='signup_style.css')"/>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('signup') }}">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" minlength="5" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="phone_no" name="phone_no" minlength="10" maxlength="10">
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="role" required>
                <option selected>Choose your role</option>
                <option value="staff">Staff</option>
                <option value="user">User</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
{% endblock %}